
<ul class="nav nav-tabs" role="tablist" id="myTab3">
    <li role="presentation" class="active"><a href="#Sistema" aria-controls="Sistema" role="tab" data-toggle="tab">Sistema</a></li>
    <li role="presentation"><a href="#Directorios" aria-controls="Directorios" role="tab" data-toggle="tab">Directorios</a></li>
    <li role="presentation"><a href="#DispositovosEquipos" aria-controls="DispositovosEquipos" role="tab" data-toggle="tab">Dispositovos / Equipos</a></li>
    <li role="presentation"><a href="#ControladorsAcciones" aria-controls="ControladorsAcciones" role="tab" data-toggle="tab">Controladors / Acciones</a></li>
    <li role="presentation"><a href="#Parametros" aria-controls="Parametros" role="tab" data-toggle="tab">Parámetros</a></li>
    <li role="presentation"><a href="#ControladorsBeneficios" aria-controls="ControladorsBeneficios" role="tab" data-toggle="tab">Beneficios</a></li>
    <li role="presentation"><a href="#Bajas" aria-controls="Bajas" role="tab" data-toggle="tab">Bajas</a></li>
    <li role="presentation"><a href="#Preguntas" aria-controls="Preguntas" role="tab" data-toggle="tab">Preguntas</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Sistema">...</div>
    <div role="tabpanel" class="tab-pane" id="Directorios">...</div>
    <div role="tabpanel" class="tab-pane" id="DispositovosEquipos">...</div>
    <div role="tabpanel" class="tab-pane" id="ControladorsAcciones">...</div>
    <div role="tabpanel" class="tab-pane" id="Parametros">...</div>
    <div role="tabpanel" class="tab-pane" id="ControladorsBeneficios">...</div>
    <div role="tabpanel" class="tab-pane" id="Bajas">...</div>
    <div role="tabpanel" class="tab-pane" id="Preguntas">...</div>
</div>

<script>
  $(function () {
    $('#myTab3 a:last').tab('show')
  })
</script>

