<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="#Personas" aria-controls="Personas" role="tab" data-toggle="tab">Perfiles</a></li>
    <li role="presentation"><a href="#Contacto" aria-controls="Contacto" role="tab" data-toggle="tab">Áreas de trabajo</a></li>
    <li role="presentation"><a href="#Domicilio" aria-controls="Domicilio" role="tab" data-toggle="tab">Cuentas de usuario</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Personas">

    </div>
    <div role="tabpanel" class="tab-pane" id="Contacto">

    </div>
    <div role="tabpanel" class="tab-pane" id="Domicilio">

    </div>
</div>

<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>
