<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SecurityEntities" connectionString="metadata=res://*/Model.SecurityModel.csdl|res://*/Model.SecurityModel.ssdl|res://*/Model.SecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.31\MSSQLSERVER2012;initial catalog=Test1;user id=sa;password=Adminpwd20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
  </connectionStrings>
</configuration>