@model Security.Core.Model.Contacto_tipo

@Scripts.Render("~/bundles/Miscelaneous")

<div class="modal-header label-info">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hitden="true">&times;</span></button>
    <h2 class="modal-title">Detalle</h2>
    <h4 class="Fuente_blanca">Contacto (tipo)</h4>
</div>

<div class="modal-body">
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <td>
                @Html.DisplayFor(model => model.Nombre)
            </td>

        </tr>
    </table>
</div>
<div class="modal-footer">
    <p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-info glyphicon glyphicon-chevron-left" data-container="body" data-toggle="popover" data-placement="right" data-content="Volver" data-dismiss="modal"></a>
            </div>
        </div>
        <hr />
    </p>
</div>