@model Security.Core.Model.Contacto_tipo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo">Detalle</h2>

<div>
    <h4>Contacto (tipo)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
@{
    var ControllerName = ViewContext.RouteData.Values["Controller"];
}
<p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-warning glyphicon glyphicon-pencil" data-container="body" data-toggle="popover" data-placement="left"
               data-content="Editar" href="~/@ControllerName/Edit/@Model.Id_ContactoTipo"></a>
            <a class="btn btn-info glyphicon glyphicon-chevron-left" data-container="body" data-toggle="popover" data-placement="right"
               data-content="Volver" href="~/@ControllerName"></a>
        </div>
    </div>
    <hr />
</p>