body {
    padding-top: 15px;
    padding-bottom: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}
.bk {
    background-color:white;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

 .TituloSistema
 {
    width: 950px;
 }

/*.content-header a {
    background-image:url('Images/house.ico');
    text-decoration:none;
    padding-left:5px;
    background-position:1px;
    background-repeat:no-repeat;
    vertical-align:middle;
    text-indent: -9999px;
    display:inline-block;
}*/

.Edit {
    background-image:url('Images/pencil.png');
}

.Details {
    background-image:url('Images/table.ico');
}

.Delete {
    background-image:url('Images/action_delete.ico');
}

.Space_h {
    width: 5px;
}

.Icon_Settings {
    padding-left:5px;
    background-position:1px;
    background-repeat:no-repeat;
    vertical-align:middle;
    margin: auto;
}

.ButtonSettings {
    padding-left:5px;
    background-position:1px;
    background-repeat:no-repeat;
    vertical-align:middle;
    background-color:#F7F7F7;
    /*border: 1pt solid #ADADAD;*/
    width:20px;
    height:20px;
    text-indent: -9999px;
    display:inline-block;
    

}

    .ButtonSettings:hover {        
        background-color:#A6F4FF;
        border: 1pt solid #4AB8E9;
        -webkit-box-shadow:0 1px 4px #4AB8E9, 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow:0 1px 4px #4AB8E9, 0 0 40px rgba(0, 0, 0, 0.1) inset;
        /*border-radius:100px / 10px;*/
    }

.Titulo {
    color:#428BCA;
}

.Dialogos {
    color:#9D9D7E;
}

.Gray {
    color:#9D9D7E;
}

.Fuente_blanca {
    color:white;
}
.Edit_actions {
    position: fixed;
    z-index: -100; 
    bottom: 20px; 
    left: 0;
    width: 100%;
    height: 40px;
    background-color:#505050;
}

.UploadControl {
    z-index: -100; 
    color: transparent;

}

.Box {
-webkit-box-shadow: 0px 7px 5px -1px rgba(0,0,0,0.14);
-moz-box-shadow: 0px 7px 5px -1px rgba(0,0,0,0.14);
box-shadow: 0px 7px 5px -1px rgba(0,0,0,0.14);
}

/**- TaGo --------- */

.headers {
    background: rgba(211,4,46,1);
    background: -moz-linear-gradient(top, rgba(211,4,46,1) 0%, rgba(178,16,36,1) 50%, rgba(154,24,27,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(211,4,46,1)), color-stop(50%, rgba(178,16,36,1)), color-stop(100%, rgba(154,24,27,1)));
    background: -webkit-linear-gradient(top, rgba(211,4,46,1) 0%, rgba(178,16,36,1) 50%, rgba(154,24,27,1) 100%);
    background: -o-linear-gradient(top, rgba(211,4,46,1) 0%, rgba(178,16,36,1) 50%, rgba(154,24,27,1) 100%);
    background: -ms-linear-gradient(top, rgba(211,4,46,1) 0%, rgba(178,16,36,1) 50%, rgba(154,24,27,1) 100%);
    background: linear-gradient(to bottom, rgba(211,4,46,1) 0%, rgba(178,16,36,1) 50%, rgba(154,24,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3042e', endColorstr='#9a181b', GradientType=0 );
}

.breadcrumb {
    background-color:transparent;
}

.Sistema {
        color:white;
    background: rgba(235,5,51,1);
    background: -moz-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,5,51,1)), color-stop(50%, rgba(202,18,39,1)), color-stop(100%, rgba(176,28,30,1)));
    background: -webkit-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -o-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: linear-gradient(to bottom, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb0533', endColorstr='#b01c1e', GradientType=0 );
}

/*---------------------------------*/
.navbar-default {
      background: rgba(211,4,46,1);
    background: -moz-linear-gradient(top, rgba(211,4,46,1) 0%, rgba(178,16,36,1) 50%, rgba(154,24,27,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(211,4,46,1)), color-stop(50%, rgba(178,16,36,1)), color-stop(100%, rgba(154,24,27,1)));
    background: -webkit-linear-gradient(top, rgba(211,4,46,1) 0%, rgba(178,16,36,1) 50%, rgba(154,24,27,1) 100%);
    background: -o-linear-gradient(top, rgba(211,4,46,1) 0%, rgba(178,16,36,1) 50%, rgba(154,24,27,1) 100%);
    background: -ms-linear-gradient(top, rgba(211,4,46,1) 0%, rgba(178,16,36,1) 50%, rgba(154,24,27,1) 100%);
    background: linear-gradient(to bottom, rgba(211,4,46,1) 0%, rgba(178,16,36,1) 50%, rgba(154,24,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3042e', endColorstr='#9a181b', GradientType=0 );

    border-color: rgba(211,4,46,1);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;

    background: rgba(235,5,51,1);
    background: -moz-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,5,51,1)), color-stop(50%, rgba(202,18,39,1)), color-stop(100%, rgba(176,28,30,1)));
    background: -webkit-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -o-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: linear-gradient(to bottom, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb0533', endColorstr='#b01c1e', GradientType=0 );
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
      background: rgba(235,5,51,1);
    background: -moz-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,5,51,1)), color-stop(50%, rgba(202,18,39,1)), color-stop(100%, rgba(176,28,30,1)));
    background: -webkit-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -o-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: linear-gradient(to bottom, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb0533', endColorstr='#b01c1e', GradientType=0 );
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: rgba(235,5,51,1);
    background: -moz-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,5,51,1)), color-stop(50%, rgba(202,18,39,1)), color-stop(100%, rgba(176,28,30,1)));
    background: -webkit-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -o-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: linear-gradient(to bottom, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb0533', endColorstr='#b01c1e', GradientType=0 );
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
          background: rgba(235,5,51,1);
    background: -moz-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,5,51,1)), color-stop(50%, rgba(202,18,39,1)), color-stop(100%, rgba(176,28,30,1)));
    background: -webkit-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -o-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: linear-gradient(to bottom, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb0533', endColorstr='#b01c1e', GradientType=0 );
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  } 
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
        background: rgba(235,5,51,1);
    background: -moz-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,5,51,1)), color-stop(50%, rgba(202,18,39,1)), color-stop(100%, rgba(176,28,30,1)));
    background: -webkit-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -o-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    background: linear-gradient(to bottom, rgba(235,5,51,1) 0%, rgba(202,18,39,1) 50%, rgba(176,28,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb0533', endColorstr='#b01c1e', GradientType=0 );
  }
}

